@import "reset.css";

html{
    font-size:100%;
}

body{
    color:#24292e;
    animation: fadeIn 3s ease 0s 1 normal;
}

a{
    text-decoration: none;
    color: black;
}


@keyframes fadeIn { 

  0% {opacity: 0} 

  100% {opacity: 1} 

}

header img{
    width: 6%;
    height: auto;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.works{
    width: 100%;
}

.site-title-works{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Sylfaen';
    margin-top: 34px;
    font-size: 26px;
}

.content{
    width: 100%;
    margin-top:40px;
}

.content:hover{
    background-color:rgba(131, 131, 131, 0.2);
}

.content-title{
    width: 100%;
    max-width: 760px;
    margin: 0px auto;
    padding-top:20px;
    margin-bottom: 20px;
}

p{
    width: 100%;
    max-width: 760px;
    margin: 0px auto;
    font-size: 13px;
}

.photo{
    width: 100%;
    max-width: 760px;
    margin: 0px auto;
    padding-top: 20px
}



img{
    width: 33.3%;
    padding-bottom: 20px;
}


@media screen and (max-width:960px){

    header img{
        width: 10%;
        height: auto;
        position: fixed;
        top: 26px;
        left: 20px;
        z-index: 10;
    }    
    
}
